/* Css reseting  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* setting up the logo image  */

.logo img{
    height:40px;
    width:65px;
    color:white;
}

/* setting up the navbar */
.navbar{
    height: 50px;
    width:100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2px 5px;
}

/* setting up the list items  */
.list{
    width:600px;
}
.list ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.list ul li{
    list-style: none;
}
.list ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.list ul li a:hover{
    color:#17cf97;
}

/* setting up the login button  */
.btn{
    background-color: #fff;
    color:blueviolet;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding:3px 5px;
    border:none;
    outline:none;
    border-radius: 8px;
}

/* Media queries - setting for the mobile device */
@media (max-width: 767px) {
   
  }